
@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center m-5">
<h1>Contact Information</h1>
</div>

<div class="row bg-primary m-5 p-5">
    <div class="text-center col-md-6 text-white fs-5">
     <div class="row fw-bold">
            Inland Lake Marina
     </div>   
     <div class="row">
        Box 123
     </div>
     <div class="row">
        Inland Lake,
    </div>
    <div class="row">
            Arizona 86038
    </div>
    </div>

    <div class="text-center col-md-6 text-white fs-5">
        <div>
            (office phone) 928-555-2234
        </div>
        <div>
            (leasing phone) 928-555-2235
        </div>
        <div>
            (fax) 928-555-2236
        </div>
        <div>
            Manager: Glenn Cooke
        </div>
        <div>
            Slip Manager: Kimberley Carson
        </div>
        <div>
            Contact email: info@inlandmarina.com
        </div>
    </div>
</div>
<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Back to Home</a>
</div>
